<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="my.empMapper">  <!-- namespace:이름공간 -->
   <insert id="insertEmp" parameterType="emp">
   		<![CDATA[
	   		insert into emp(ename, phone, dept) 
			values (#{ename}, #{phone}, #{dept})
		]]>
   </insert>

   <select id="listEmp" resultType="emp">
   		<![CDATA[
			select * from emp
		]]>
   </select>
   
   <select id="getEmpByEnoAndDept" parameterType="hashmap" resultType="emp">
	  	<![CDATA[
			select * 
			from emp
			where eno <= #{eno} and dept like #{dept}
	  	]]>
   </select>  <!--  <= 또는   &lt; 로 작성가능   -->
   
   <select id="searchNo"  parameterType="java.lang.Integer"  resultType="emp">
		<![CDATA[
			select * 
			from emp
			where eno = #{eno}
		]]>
	</select>
	
	<update id="updateEmp" parameterType="emp">
		<![CDATA[
			update emp
			set phone=#{phone}, dept=#{dept}
			where eno=#{eno}
		]]>
	</update>
	
	<delete id="deleteEmp" parameterType="java.lang.Integer">
		<![CDATA[
			delete 
			from emp
			where eno=#{eno}
		]]>
	</delete>
</mapper>














